<!-- chat_room.html -->
{% extends 'test-base.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'css/chat_room.css' %}" />
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<div class="pageAlignChatroom_sw">
    <div class="nicknameFrameChatroom_sw">
        <button class="backiconChatroom_sw" >
          <img src="{% static 'images/backicon.svg' %}" alt="뒤로가기아이콘">
        </button>
        <div class="profileNicknameChatroom_sw">
            <img class="profileImgChatroom_sw" src="{% static 'images/defaultprofile.svg' %}" alt="프로필사진">
            <div class="nicknameChatroom_sw">{{opponent.nickname}}</div>
        </div>
        <button class="sirenChatroom_sw">
                <img class="sireniconChatroom_sw" src="{% static 'images/siren.svg' %}" alt="신고아이콘">
                <div class="reportChatroom_sw">신고하기</div>
        </button>
    </div>
    <div class="tradeTitleFrameChatroom_sw">
            <div class="tradeTitleImageChatroom_sw"></div>
            <div class="tradeTitleTextFrameChatroom_sw">
                <div class="tradeTitleTextChatroom_sw">{{post.title}}</div>
                <div class="tradeTitleButtonsFrameChatroom_sw">
                    <button class="buttonChatroom_sw">거래 요청</button>
                    <button class="buttonChatroom_sw">거래 취소</button>
                    <button class="buttonChatroom_sw">완료 요청</button>
                </div>
            </div>
    </div>

<!-- 여기부터 스크롤 -->
    <div class="chatBubblesFrameChatroom_sw">
        <div class="firstDescriptionBubbleChatroom_sw">
            <p>채팅창은 30초에 한번씩 새로고침 됩니다.</p>
            <p>빠른 새로고침을 원하시면 입력창 오른쪽 새로고침 버튼을 눌러주세요.</p>
        </div>
        <div class="secondDescriptionBubbleChatroom_sw">z
            <p>거래를 원하시면 메뉴에서 거래를 확정해주세요.</p>
        </div>
        <!-- 채팅 버블이 뜨는 곳 -->
        <div id="chatbox_sw">
        {% for comment in comments %}
            {% if comment.writer == me %}
                <div class="chat-message me">{{ comment.content }} ({{ comment.timestamp|date:"H:i" }})</div>
            {% else %}
                <div class="chat-message other">{{ comment.writer.nickname }}: {{ comment.content }} ({{ comment.timestamp|date:"H:i" }})</div>
            {% endif %}
        {% endfor %}
        </div>

    </div>

<!-- 여기까지 스크롤 -->

<!-- 여기부터 채팅 입력창이고 고정 -->
    <div class="chatWriteFrameChatroom_sw">
        <button id="photoBtn_sw" class="iconPhotoChatroom_sw" >
            <img src="{% static 'images/photoicon.svg' %}" alt="사진아이콘">
        </button>
    
        <form method="POST" action="{% url 'chats:submit_chat' chatroom.id %}" class="chatInputWrapperChatroom_sw">
            {% csrf_token %}
            <textarea name="content" class="chatInputChatroom_sw" placeholder="메시지 보내기" id="commentinput_sw"></textarea>
            <button type="submit" id="sendBtn_sw" class="iconSendChatroom_sw">
                <img src="{% static 'images/airplaneicon.svg' %}" alt="전송아이콘">
            </button>
        </form>   
        
       
    </div>
</div>
<!-- 여기서부터 민감정보 모달 -->

<div  id="modalBackdrop_sw" class="modalBackdropChatroom_sw" style="display: none;"></div>

<div class="modalChatroom_sw" id="sensitiveModal_sw" style="display: none;">
    <div class="modalTitleBoxChatroom_sw">
        <p class="modalTitleChatroom_sw">민감정보</p>
        <button id="closeModalBtn_sw" class="modalBtnChatroom_sw">
            <img src="{% static 'images/xicon.svg' %}" alt="엑스아이콘">
        </button>
    </div>
    <div class="modalTextBoxChatroom_sw">
        <p class="modalTextChatroom_sw">{{post.private_info}}</p>
    </div>
</div>
<!-- 여기까지 모달 -->
 
{% endblock %}
{% block scripts %}
<!-- js 파일 -->
<script src="{% static 'js/chat_room.js' %}"></script>
{% endblock %}