<!-- chat_room.html -->
{% extends 'test-base.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'css/chat_room.css' %}" />
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<div class="container_sw">


<div class="pageAlignChatroom_sw">
    <div class="nicknameFrameChatroom_sw">
        <a href="{% url 'chats:chat_list' %}">
            <button class="backiconChatroom_sw">
                <img src="{% static 'images/backicon.svg' %}" alt="뒤로가기아이콘">
            </button>
        </a>

        <div class="profileNicknameChatroom_sw">
            <div class="nicknameChatroom_sw">{{opponent.nickname}}</div>
        </div>
        <button class="sirenChatroom_sw">
                <img class="sireniconChatroom_sw" src="{% static 'images/siren.svg' %}" alt="신고아이콘">
                <div class="reportTextChatroom_sw">신고하기</div>
        </button>
    </div>
    
    <div class="tradeTitleFrameChatroom_sw">
        {% if post.image.all %}
                {% for image in post.images.all %}
                <a href="{% url 'posts:post_detail' chatroom.post.id %}">
                    <img class="tradeTitleImageChatroom_sw" src="{{ image.image.url }}" alt="게시물 사진">
                </a>
                {% endfor %}
        {% else %}
                 <a href="{% url 'posts:post_detail' chatroom.post.id %}">
                    <img class="tradeTitleImageChatroom_sw" src="{% static 'images/test2.png'%}" alt="기본 이미지">
                </a>
        {% endif %}
          
            <div class="tradeTitleTextFrameChatroom_sw">
                <div class="tradeTitleTextChatroom_sw">{{post.title}}</div>
                <div class="tradeTitleButtonsFrameChatroom_sw">

                    <!-- 버튼 1 -->
                    <!-- 민감 정보는 in_progress면 모두에게 보임 -->
                    {% if post.status == "in_progress" %}
                    <button type="button" class="buttonChatroom_sw" onclick="openSensitiveModal()">
                        민감 정보
                    </button>
                    <!-- 끝나면 아무한테도 안 보여 -->
                    {% elif post.status != "chatting" and me == chatroom.helper %}
                    <button class="disabledButtonChatroom_sw">
                        민감 정보
                    </button>
                    <!-- 민감 정보는 마스터에게는 보이게 -->
                    {% elif me == chatroom.master %}
                    <button type="button" class="buttonChatroom_sw" onclick="openSensitiveModal()">
                        민감 정보
                    </button>
                    <!-- 거래 요청을 하면 진짜 거래하겠냐고 묻기-아직안함 -->
                    {% elif post.status == "chatting" and me == chatroom.helper %}
                    <form method="post" action="{% url 'chats:start_transaction' chatroom.id %}">
                        {% csrf_token %}
                        <button type="submit" class="buttonChatroom_sw" onclick="showStartNotice()">거래 요청</button>
                    </form>
                    {% endif %}
                    
                    <!-- 버튼 2 -->
                    {% if post.status == "in_progress" %}
                    <!-- home으로 돌아가야 되는데 현재는 안 됨 백 수정? -->
                    <form method="post" action="{% url 'chats:cancel_transaction' chatroom.id %}">
                        {% csrf_token %}
                        <button class="buttonChatroom_sw">거래 취소</button>
                    </form>
                    <!-- 거래 취소는 in_progress 상태가 아니면 비활성화 -->
                    {% elif post.status != "in_progress" %}
                        <button class="disabledButtonChatroom_sw">거래 취소</button>
                    {% endif %}

                    <!-- 버튼 3 -->
                    {% if post.status == "in_progress" and me == chatroom.helper %}
                     <form method="post" action="{% url 'chats:request_finish' chatroom.id %}">
                        {% csrf_token %}
                        <button class="buttonChatroom_sw">수행 완료</button>
                    </form>
                    {% elif post.status != "in_progress" and me == chatroom.helper %}
                        <button class="disabledButtonChatroom_sw">수행 완료</button>
                    {% elif post.status == "task_completed" and me == chatroom.master %}
                    <form method="post" action="{% url 'chats:approve_finish' chatroom.id %}">
                        {% csrf_token %}
                        <button type="submit" class="buttonChatroom_sw">완료 승인</button>
                    </form>
                    {% elif post.status != "task_completed" and me == chatroom.master %}
                        <button class="disabledButtonChatroom_sw">완료 승인</button>
                    {% endif %}

                
                </div>
            </div>
    </div>
<!-- js를 위한 숨겨진 div에 post.status 심기 -->
<div id="postStatus_sw" style="display: none;":>{{ post.status }}</div>

<!-- 여기부터 스크롤 -->
    <div class="chatBubblesFrameChatroom_sw">
        <div class="descriptionBubbleChatroom_sw">
            <p>채팅창은 5초에 한번씩 새로고침 됩니다.</p>
        </div>
        <div class="descriptionBubbleChatroom_sw">
            <p>거래를 원하시면 메뉴에서 거래를 확정해주세요.</p>
        </div>
        
        <!-- 채팅 버블이 뜨는 곳 -->
   {% for comment in comments %}
            {% if comment.is_system %}
            <div id="startNotice_sw" class="longDescriptionBubbleChatroom_sw">
                {{comment.content|linebreaksbr}}
            </div>
            {% elif comment.writer == me %}
                <div class="myBubbleChatroom_sw">
                    {% if comment.image %}
                    <img src="{{comment.img}}" alt=" 내가 보낸 이미지">
                    {% endif %}
                    {% if comment.content %}
                    <p>
                        <div class="timeTextChatroom">{{ comment.timestamp|date:"A h:i" }}</div>
                        <div class="myContentTextChatroom">{{ comment.content }} </div>  
                    </p>
                    {% endif %}
                </div>
                {% else %}   
                <div class="opponentBubbleChatroom_sw">  
                    {% ifchanged comment.writer.id comment.timestamp|date:"Y-m-d H:i" %}   
                    <img class="profileImgChatroom_sw" src="{% static 'images/defaultprofile.svg' %}" alt="프로필사진">
                    {% else %}
                    <div class="profileImgChatroom_sw" style="visibility: hidden;"> </div>
                    {% endifchanged %}
                    {% if comment.image %}
                    <img src="{{comment.img}}" alt=" 상대가 보낸 이미지">
                    {% endif %}
                    {% if comment.content %}
                    <p>
                    <div class="opponentContentTextChatroom">{{ comment.content }} </div>  
                    <div class="timeTextChatroom">{{ comment.timestamp|date:"A h:i" }}</div>
                    </p>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

<!-- 여기까지 스크롤 -->

<!-- 여기부터 채팅 입력창이고 고정 -->
    <div class="chatWriteFrameChatroom_sw">
        <form id="photoForm_sw" method="POST" action="{% url 'chats:submit_chat' chatroom.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" id="photoInput_sw" name="image" accept="image/*" style="display: none;">
            <button type="button" id="photoBtn_sw"class="iconPhotoChatroom_sw" >
            <img src="{% static 'images/photoicon.svg' %}" alt="사진아이콘">
        </button>
        </form>
           
        {% if post.status == "in_progress" or post.status == "task_completed" or post.status == "chatting" %}
        <form method="POST" action="{% url 'chats:submit_chat' chatroom.id %}"
         class="chatInputWrapperChatroom_sw">
            {% csrf_token %}
            <textarea name="content" class="chatInputChatroom_sw" id="commentinput_sw"
            placeholder="메시지 보내기" ></textarea>
            <button type="submit" id="sendBtn_sw" class="iconSendChatroom_sw">
                <img src="{% static 'images/airplaneicon.svg' %}" alt="전송아이콘">
            </button>
        </form>   
            {% elif post.status == "done" or post.status == "waiting" %}
          <div class="disabledChatInputWrapperChatroom_sw">
            <textarea name="content" class="disabledChatInputChatroom_sw" id="commentinput_sw"
            placeholder="대화가 종료된 채팅입니다." disabled></textarea>
            <button class="iconSendChatroom_sw" >
                <img src="{% static 'images/airplaneicon.svg' %}" alt="전송아이콘">
            </button>
        </div>   
            {% endif %}
    </div>
</div>
               </div>    

<!-- 채팅 입력창 끝 -->

<!-- 여기서부터 민감정보 모달 -->
<div  id="modalBackdrop_sw" class="modalBackdropChatroom_sw" style="display: none;"></div>

<div class="modalChatroom_sw" id="sensitiveModal_sw" style="display: none;">
    <div class="modalTitleBoxChatroom_sw">
        <p class="modalTitleChatroom_sw">민감정보</p>
        <button id="closeModalBtn_sw" class="modalBtnChatroom_sw" onclick="closeSensitiveModal()">
            <img src="{% static 'images/xicon.svg' %}" alt="엑스아이콘">
        </button>
    </div>
    <div class="modalTextBoxChatroom_sw">
        <p class="modalTextChatroom_sw">{{post.private_info}}</p>
    </div>
</div>
<!-- 여기까지 모달 -->
 
{% endblock %}
{% block scripts %}
<!-- js 파일 -->
<script src="{% static 'js/chat_room.js' %}"></script>
{% endblock %}