{% extends 'test-base.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'css/chat_room.css' %}" />
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<div class="pageAlignChatroom_sw">
    <div class="nicknameFrameChatroom_sw">
        <a href="javascript:history.back()" class="backiconChatroom_sw" >
          <img src="{% static 'images/backicon.svg' %}" alt="뒤로가기아이콘">
        </a>
        <div class="profileNicknameChatroom_sw">
            <img class="profileImgChatroom_sw" src="{% static 'images/defaultprofile.svg' %}" alt="프로필사진">
            <div class="nicknameChatroom_sw">{{opponent.nickname}}</div>
        </div>
        <button class="sirenChatroom_sw">
                <img class="sireniconChatroom_sw" src="{% static 'images/siren.svg' %}" alt="신고아이콘">
                <div class="reportChatroom_sw">신고하기</div>
        </button>
    </div>
    <div class="tradeTitleFrameChatroom_sw">
            <div class="tradeTitleImageChatroom_sw"></div>
            <div class="tradeTitleTextFrameChatroom_sw">
                <div class="tradeTitleTextChatroom_sw">{{post.title}}</div>
                <div class="tradeTitleButtonsFrameChatroom_sw">
                    {% if post.status == 'chatting' and me == chatroom.helper %}
                    <form action="{% url 'chats:start_transaction' chatroom.id %}" method="post">
                        {% csrf_token %}
                        <button class="buttonChatroom_sw">거래 신청</button>
                    </form>
                    {% endif %}

                    {% if post.status == 'in_progress' and me == chatroom.helper %}
                    <form action="{% url 'chats:request_finish' chatroom.id %}" method="post">
                        {% csrf_token %}
                        <button class="buttonChatroom_sw">완료 요청</button>
                    </form>
                    {% endif %}

                    {% if post.status == 'in_progress' and me == chatroom.master %}
                    <form action="{% url 'chats:approve_finish' chatroom.id %}" method="post">
                        {% csrf_token %}
                        <button class="buttonChatroom_sw">완료 승인</button>
                    </form>
                    {% endif %}
                </div>
            </div>
    </div>

    <div class="chatBubblesFrameChatroom_sw">
        <div class="firstDescriptionBubbleChatroom_sw">
            <p>채팅창은 30초에 한번씩 새로고침 됩니다.</p>
            <p>빠른 새로고침을 원하시면 입력창 오른쪽 새로고침 버튼을 눌러주세요.</p>
        </div>
        <div class="secondDescriptionBubbleChatroom_sw">
            <p>거래를 원하시면 메뉴에서 거래를 확정해주세요.</p>
        </div>

        {% if post.status == 'in_progress' %}
        <div class="systemDescriptionBubbleChatroom_sw">
            <p>거래가 시작됩니다! 메뉴를 눌러 민감 정보를 확인해 주세요.</p>
        </div>
        {% endif %}

        {% for comment in comments %}
            <div>
                <b>{{ comment.writer.nickname }}</b>: {{ comment.content }}
            </div>
        {% endfor %}
    </div>

    <div class="chatWriteFrameChatroom_sw">
        <form action="{% url 'chats:submit_chat' chatroom.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button class="iconWriteChatroom_sw">
                <input type="file" name="image" style="display:none" id="uploadImage">
                <img src="{% static 'images/photoicon.svg' %}" alt="사진아이콘" onclick="document.getElementById('uploadImage').click();">
            </button>
            <div class="chatInputWrapperChatroom_sw">
                <textarea name="content" class="chatInputChatroom_sw" placeholder="메시지 보내기"></textarea>
            </div>
            <button type="submit" class="iconWriteChatroom_sw">
                <img src="{% static 'images/airplaneicon.svg' %}" alt="전송아이콘">
            </button>
        </form>
    </div>
</div>

<div class="modalBackdropChatroom_sw" id="modalBackdrop_sw" style="display: none;"></div>
<div class="modalChatroom_sw" id="sensitiveModal_sw" style="display: none;">
    <div class="modalTitleBoxChatroom_sw">
        <p class="modalTitleChatroom_sw">민감정보</p>
        <button class="modalBtnChatroom_sw" id="closeModal_sw">
            <img src="{% static 'images/xicon.svg' %}" alt="엑스아이콘">
        </button>
    </div>
    <div class="modalTextBoxChatroom_sw">
        <p class="modalTextChatroom_sw">{{post.private_info}}</p>
    </div>
</div>

{% endblock %}
