/* chat_list.css */
button {
    cursor: pointer;
}

.pageAlignChatlist_sw {
    width: 390px;
    height: 844px;
    display: flex;

    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    background: #F6F8FA;
}

.headerFrameChatlist_sw {
    display: flex;
    width: 390px;
    height: 77px;
    padding: 24px 16px;
    margin-bottom: 24px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: #025397;

}

.backiconChatlist_sw {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.364px;
    height: 12.728px;
    flex-shrink: 0;
    aspect-ratio: 7.36/12.73;
}

.headerTitleChatlist_sw {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

.headerTextChatlist_sw {
    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.listFrameChatlist_sw {
    display: flex;
    width: 358px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.categoriesFrameChatlist_sw {
    height: 27px;
    width: 160px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.usedFilterBtnChatlist_sw {
    width: 48px;
    height: 27px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #025397;
    color: #FFF;

    /* caption */
    font-family: "Pretendard Variable";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.unusedfilterBtnChatlist_sw {
    width: 48px;
    height: 27px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 0.5px solid #666;
    background: #FFF;

    /* caption */
    font-family: "Pretendard Variable";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.chatroomFrameChatlist_sw {
    height: 650px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
    overflow-x: hidden;
}

.chatroomFrameChatlist_sw::-webkit-scrollbar {
    width: 6px;
}

.chatroomFrameChatlist_sw::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 3px;
}

.chatroomFrameChatlist_sw::-webkit-scrollbar-track {
    background: #ccc;
}

.container_sw {
    width: 100%;
    height: 100%;
}

.chatroomChatlist_sw {
    display: flex;
    padding: 19px 16px;
    position: relative;
    min-height: 84px;
    width: 354px;
    flex-direction: row;
    gap: 16px;
    border-radius: 6px;
    background: #FFF;

    /* box_dropshadow */
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.12);
}

.chatroomChatlist_sw.chatroomChatlistDone_sw {
    display: flex;
    padding: 19px 16px;
    position: relative;
    min-height: 84px;
    width: 354px;
    flex-direction: row;
    gap: 16px;
    border-radius: 6px;

    /* box_dropshadow */
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.12);
    background-color: #D9D9D9;
}

.chatroomProfileChatlist_sw {
    width: 46px;
    height: 46px;
    border-radius: 999px;

}

.textBoxChatlist_sw {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.textWrapperChatlist_sw {
    width: 264px;
    height: 19px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.opponentNameChatlist_sw {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #2A2A2A;

    /* Body */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.buildingChatlist_sw {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #2A2A2A;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.smallTextWrapperChatlist {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tempWrapperChatlist_Sw {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: flex-end;
}

.titleChatlist_sw {
    display: flex;
    height: 14px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    color: #8A8A8A;

    /* caption */
    font-family: "Pretendard Variable";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.doneChatlist_sw {
    display: flex;
    height: 14px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    color: #2A2A2A;

    /* caption */
    font-family: "Pretendard Variable";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.unreadCountChatlist_sw {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    width: 19px;
    height: 19px;
    background-color: #FF8887;
    border-radius: 999px;

}