/* chat_list.css */
button{
    cursor: pointer;
}
.pageAlignChatlist_sw{
    width: 390px;
    height: 844px;
    display: flex;
 
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    background: #F6F8FA;
}
.headerFrameChatlist_sw{
    display: flex;
    width: 390px;
    height: 77px;
    padding: 24px 16px;
    margin-bottom: 24px;
    justify-content: space-between;
    align-items: center;
    position: relative;
background: #025397;

}
.backiconChatlist_sw{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.364px;
    height: 12.728px;
    flex-shrink: 0;
    aspect-ratio: 7.36/12.73;
}

.headerTitleChatlist_sw{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
   
}
.headerTextChatlist_sw{
     color: #FFF;
text-align: center;

/* H1 */
font-family: Pretendard;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.listFrameChatlist_sw{
    display: flex;
width: 358px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
}
.categoriesFrameChatlist_sw{
    background-color: pink;
    height: 27px;
    width: 160px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.usedFilterBtnChatlist_sw{
    width: 48px;
    height: 27px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #025397;
    color: #FFF;

    /* caption */
    font-family: "Pretendard Variable";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.unusedfilterBtnChatlist_sw{
       width: 48px;
    height: 27px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 0.5px solid #666;
    background: #FFF;

    /* caption */
    font-family: "Pretendard Variable";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.chatroomFrameChatlist_sw{
    height: 650px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: scroll;
}
.chatroomChatlist_sw{
    display: flex;
    padding: 19px 16px;

    min-height: 84px;
    width: 354px;
    flex-direction: row;
    gap: 16px;
    border-radius: 6px;

    /* box_dropshadow */
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.12);
}
.chatroomProfileChatlist_sw{
    width: 46px;
height: 46px;
}
.textBoxChatlist_sw{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.textWrapperChatlist_sw{
    display: flex;
align-items: flex-end;
gap: 8px;
}
.opponentNameChatlist_sw{
color: #2A2A2A;

/* H2 */
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.buildingChatList_sw{
color: #2A2A2A;
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}