/* post_create.css */
button{
    cursor: pointer;
}
.pageAlignCreate_sw{
     width: 390px;
    height: 844px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}
.allFrameCreate_sw{
    display: flex;
    width: 358px;
    height: 792px;
    margin: 36px 16px 16px 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:33px;
}
.contentsFrameCreate_sw{
    width: 358px;
    height: 720px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;

}
/* F1 */
.f1_frameCreate_sw{

    width: 358px;
    height: 147px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}
.f1_titleFrameCreate_sw{

    width: 358px;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}
.f1_titleBoxCreate_sw{
    width: 225px;
    height: 24px;
    display: flex;
    justify-content: space-between;
align-items: center;
}
.f1_closeButtonCreate_sw{
    width:13px; 
    height:13px;
    fill: #2A2A2A;
}
.f1_titleCreate_sw{
    color: #2A2A2A;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.f1_lineCreate_sw{
    width: 358px;
    height: 0px;
    border: 0.5px solid #666;
}

.f1_photosFrameCreate_sw{
    width: 358px;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 19.33333px;
    align-self: stretch;
}
.f1_photoCreate_sw{
    display: flex;
    width: 75px;
    height: 75px;
    padding: 15px 25px 11px 25px;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    gap: 12.12px;
    aspect-ratio: 1/1;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    cursor: pointer;
}
.f1_photoAmountCreate_sw{
    color: #8A8A8A;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/* F2 */
.f2_frameCreate_sw{
    width: 358px;
    height: 92px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    }
.f234_titleCreate_sw{
    width: 358px;
    height: 14px;
    color: #2A2A2A;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.f2_inputCreate_sw{
    height: 48px;
    width: 358px;
    padding: 0 10px;
    font-style: normal;
    line-height: normal;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    color:#2A2A2A;
    /* caption */
    font-family: Pretendard medium;
    font-size: 12px;
    font-weight: 500;
}
.f234_wordCountCreate_sw{
    width: 358px;
    height: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color:  #8A8A8A;
    text-align: right;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
    /* F3 */
.f3_frameCreate_sw{
    width: 358px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}
.f3_inputCreate_sw{
    display: flex;
    height: 96px;
    width: 358px;

    padding: 10px;
    box-sizing: border-box; /* 패딩 포함한 높이 계산 */
    gap: 10px;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    color:#2A2A2A;
    /* caption */
    font-family: Pretendard medium;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;

    resize: none; /* textarea 크기 조절 막기 */
    white-space: pre-wrap; /* 줄바꿈 처리 */
    word-break: break-word; /* 단어 기준 줄바꿈 */
}

.f4_frameCreate_sw{
    width: 358px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.f4_inputCreate_sw{
    display: flex;
    height: 56px;
    width: 358px;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    color:#2A2A2A;
    /* caption */
    font-family: Pretendard medium;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    resize: none; /* textarea 크기 조절 막기 */
    white-space: pre-wrap; /* 줄바꿈 처리 */
    word-break: break-word; /* 단어 기준 줄바꿈 */
}
/* f5 */
.f5_frameCreate_sw{
    width: 358px;
    height: 59px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}
.f5_wrapperCreate_sw{
    width: 169px;
    height: 59px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.f5_titleCreate_sw{
    width: 169px;
    height: 14px;
    align-items: flex-start;
    color: #2A2A2A;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.f5_textSvgWrapperCreate_sw{
    position: relative; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 169px;
    height: 37px;
    padding: 0 10px; 
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    color: #2A2A2A;
    font-family: Pretendard;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    box-sizing: border-box;
    background-color: white;
}


.f5_dropdownPlaceCreate_sw{
   appearance: none; /* 기본 화살표 제거 */
   cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 12px;
    font-family: Pretendard;
    font-weight: 500;
    line-height: 1;
    color: #2A2A2A;
}
.f5_dropdownPlaceTextCreate_sw option{
    height: 14px;
    display: flex;
    
}
.f5icon_sw{
   position: absolute;  
   right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* 클릭 막기 */
    width: 13px;
    height: 8px;
}
.f5_calenderCreate_sw{
    width: 169px;
    height: 37px;
    display: flex;
   
    padding: 10px;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    color: #8A8A8A;

    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }

/* f6 */
.f6_frameCreate_sw{
    width: 358px;
    height: 59px;
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
align-self: stretch;
}
.f6_wrapperCreate_sw{
    display: flex;
width: 358px;
align-items: center;
gap: 8px;
}
.f6_requireTimeCreate_sw{
    display: flex;
width: 336px;
height: 37px;
padding: 10px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 6px;
border: 1px solid #D9D9D9;
color: #2A2A2A;
/* caption */
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.f6_requireTimeCreate_sw::placeholder{
    color: #8A8A8A;
}
/* 값이 입력된 경우만 가운데 정렬 */
.f6_requireTimeCreate_sw:not(:placeholder-shown) {
  text-align: center;
}
.f6_minuteText_sw{
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #2A2A2A;

/* Body */
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.f7_frameCreate_sw{
    height: 27px;
    width: 183px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.f7_descriptionCreate_sw{
    width: 127px;
    height: 14px;
    white-space: nowrap;
    color: #8A8A8A;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
   
    align-items: center;
}
.f7_buttonCreate_sw{
    box-sizing: border-box;
    display: flex;
    width: 48px;
    height: 27px;
    padding: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #8A8A8A;
    background: #FFF;
    color: #2A2A2A;

    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
     cursor: pointer;
}
.buttonFrameCreate_sw{
    all: unset;
    width: 358px;
    height: 39px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    border-radius: 6px;
    background: #025397;
    color: white;
    cursor: pointer;
    color: #FFF;
font-family: "Pretendard Variable";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
/* 미리보기 박스 */
.f1_previewImageWrapperCreate_sw {
  position: relative;
  width: 75px;
  height: 75px;  
  display: inline-block;
  border-radius: 6px;
   margin-right: 8px; 
    overflow: visible; 
}

/* 미리보기 이미지 */
.f1_previewImageCreate_sw {
  width: 75px;
  height: 75px;
  border-radius: 6px;
  object-fit: cover;
    border: 1px solid #D9D9D9;
    background: #FFF;
}
/* 삭제 버튼 */
.f1_deletePreviewButtonCreate_sw {
    position: absolute; 
    display: flex;
    justify-content: center;
    align-items: center;
    top: -7px;
    right: -7px;
    width: 18px;
    height: 18px;    
    flex-shrink: 0;
    cursor: pointer;
    z-index: 10;
}

.f1_deletePreviewButtonCreate_sw svg {
  width: 18px;
  height: 18px;
  display: block;
}