{% extends 'test-base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/my_posts.css' %}" />

<div class="my-post-container_sy">
    <div class="my-post-header_sy">
        <div class="go-back-btn_sy">
            <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M0.29277 5.79301L5.94977 0.136013L7.36377 1.55001L2.41377 6.50001L7.36377 11.45L5.94977 12.864L0.29277 7.20701C0.105299 7.01949 -1.66893e-05 6.76518 -1.66893e-05 6.50001C-1.66893e-05 6.23485 0.105299 5.98054 0.29277 5.79301Z"
                    fill="black" />
            </svg>
        </div>
        <h1 class="my-post-title_sy">내가 쓴 글</h1>
    </div>

    <div class="post-list_sy">
        {% for post in posts %}
        <a href="{% url 'posts:post_detail' post.id %}">
            <div class="post-container_sy">
                <div class="post-image_sy">
                    {% with saved.post.images.all|first as image %}
                        {% if image %}
                            <img src="{{ image.image.url }}" alt="post image">
                        {% else %}
                            <img src="{% static 'images/test2.png' %}" alt="기본 이미지">
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="post-item_sy">
                    <h2 class="post-title_sy">{{ saved.post.title }}</h2>
                    <div class="post-deadline_sy">{{ saved.post.deadline|date:"m/d H:i" }}까지</div>
                </div>
            </div>
        </a>
        {% empty %}
        <p>작성한 게시글이 없습니다.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static '/js/my_posts.js' %}"></script>
{% endblock %}
