<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickit</title>
</head>

<body>
    <div class="post-list-container_sy">

        <div class="post-location_sy">
            <p class="post-location-name_sy">동국대학교 주변 거래</p>
        </div>

        <div class="post-category_sy">
            <div class="checked-category_sy">
                <p>거래중인 게시글</p>
            </div>
            <div class="selected-category_sy">
                <p class="latest-category_sy">최신순</p>
                <div></div>
                <p class="deadline-category_sy">마감임박순</p>
                <div></div>
                <p class="transaction-category_sy">거래시간순</p>
            </div>
        </div>

        <div class="post-list_sy">
            <div class="post-item_sy">
                <div class="post-image_sy">
                    <img src="/static/images/test.png" alt="test image">
                </div>
                <h2 class="post-title_sy">{{ post.title }}</h2>
                <div class="about-post_sy">
                    <p class="post-time_sy">15분</p>
                    <div class="post-status_sy">거래중</div>
                    <div class="post-liked_sy">
                        <svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 15V0H11.6667V15L5.83333 12.5L0 15Z" fill="black" />
                        </svg>
                        <p class="post-liked-count_sy">20</p>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>