{% extends 'test-base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/time_history.css' %}" />
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<body>
    <div class="time_history-container_sy">
        <div class="time_history-header_sy">
            <div class="go-back-btn_sy">
                <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M0.29277 5.79301L5.94977 0.136013L7.36377 1.55001L2.41377 6.50001L7.36377 11.45L5.94977 12.864L0.29277 7.20701C0.105299 7.01949 -1.66893e-05 6.76518 -1.66893e-05 6.50001C-1.66893e-05 6.23485 0.105299 5.98054 0.29277 5.79301Z"
                        fill="white" />
                </svg>
            </div>
            <h1 class="time_history-title_sy">거래한 시간 내역</h1>
        </div>
    
        
    </div>
</body>

{% endblock %}

{% block scripts %}
<script src="{% static '/js/time_history.js' %}"></script>
{% endblock %}
