{% extends 'test-base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/time_history.css' %}" />
<link rel="stylesheet" href="{% static 'css/reset.css' %}">

<body>
    <div class="time_history-container_sy">
        <div class="time_history-header_sy">
            <div class="go-back-btn_sy">
                <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M0.29277 5.79301L5.94977 0.136013L7.36377 1.55001L2.41377 6.50001L7.36377 11.45L5.94977 12.864L0.29277 7.20701C0.105299 7.01949 -1.66893e-05 6.76518 -1.66893e-05 6.50001C-1.66893e-05 6.23485 0.105299 5.98054 0.29277 5.79301Z"
                        fill="white" />
                </svg>
            </div>
            <h1 class="time_history-title_sy">거래한 시간 내역</h1>
        </div>

        <div class="time-history-btn_sy">
            <a href="?sort=all" class="{% if selected_sort == 'all' %}active_sy{% endif %}">전체</a>
            <a href="?sort=input" class="{% if selected_sort == 'input' %}active_sy{% endif %}">적립</a>
            <a href="?sort=output" class="{% if selected_sort == 'output' %}active_sy{% endif %}">사용</a>
        </div>

        <div class="time_history-content_sy">

            <!-- 적립 (plus) -->
            <div id="plus_list" class="time-history-list_sy" style="display: none;">
                {% for history in received_histories %}
                <div class="history-pluscard_sy">
                    <div class="history-info_sy">
                        <div class="first-info_sy">
                            <div class="history-friend_sy">
                                {% if history.post.master == request.user.profile %}
                                {{ history.post.helper.nickname }}
                                {% else %}
                                {{ history.post.master.nickname }}
                                {% endif %}
                            </div>
                            <div class="history-location_sy">{{ history.post.building.name }}</div>
                        </div>
                        <div class="second-info_sy">
                            <div class="history-title_sy">{{ history.post.title }}</div>
                        </div>
                    </div>
                    <div class="history-time_sy">+{{ history.amounts }}분</div>
                </div>
                {% endfor %}
            </div>

            <!-- 사용 (minus) -->
            <div id="minus_list" class="time-history-list_sy" style="display: none;">
                {% for history in given_histories %}
                <div class="history-minuscard_sy">
                    <div class="history-info_sy">
                        <div class="first-info_sy">
                            <div class="history-friend_sy">
                                {% if history.post.master == request.user.profile %}
                                {{ history.post.helper.nickname }}
                                {% else %}
                                {{ history.post.master.nickname }}
                                {% endif %}
                            </div>
                            <div class="history-location_sy">{{ history.post.building.name }}</div>
                        </div>
                        <div class="second-info_sy">
                            <div class="history-title_sy">{{ history.post.title }}</div>
                        </div>
                    </div>
                    <div class="history-time_sy">-{{ history.amounts }}분</div>
                </div>
                {% endfor %}
            </div>

            <!-- 전체 (plus / minus / tip 모두) -->
            <div id="all_list" class="time-history-list_sy" style="display: none;">
                {% for history in all_histories %}
                <div
                    class="{% if history.type == 'plus' or history.type == 'tip' %}history-pluscard_sy{% else %}history-minuscard_sy{% endif %}">
                    <div class="history-info_sy">
                        <div class="first-info_sy">
                            <div class="history-friend_sy">

                                {% if history.post.master == request.user.profile %}
                                {{ history.post.helper.nickname }}
                                {% else %}
                                {{ history.post.master.nickname }}
                                {% endif %}
                            </div>
                            <div class="history-location_sy">
                                {{ history.post.building.name }}
                            </div>
                        </div>
                        <div class="second-info_sy">
                            <div class="history-title_sy">
                                {% if history.type == 'tip' %}
                                친절한 거래에 대한 팁입니다
                                {% else %}
                                {{ history.post.title }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="history-time_sy">
                        {% if history.type == 'minus' %}-{% else %}+{% endif %}
                        {{ history.amounts }}분
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
</body>
{% endblock %}

{% block scripts %}
<script src="{% static '/js/time_history.js' %}"></script>
{% endblock %}