<!-- other_profile.html -->
{% extends 'base.html' %}
{% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'css/other_profile.css' %}" />
<link rel="stylesheet" href="{% static 'css/reset.css' %}">

<div class="container_sw">

    <div class="pageAlignChatlist_sw">
        <!-- 헤더 -->
        <div class="headerFrameChatlist_sw">
            <!-- js로 연결 필요-->
            <button onclick="history.back()" class="backiconChatlist_sw">
                <img src="{% static 'images/backicon.svg' %}" alt="뒤로가기아이콘">
            </button>
            <div class="headerTitleChatlist_sw">
                <div class="headerTextChatlist_sw">프로필</div>
            </div>
        </div>
        <!-- 닉네임과 팁 -->


        <div class="nicknameFrameOtherProfile_sw">
            <div class="profileWrapperOtherProfile_sw">
                {% if profile.image %}
                <img class="imgOtherProfile_sw" src="{{profile.image.url}}" alt="설정프로필사진">
                {%else%}
                <img src="{% static 'images/lionprofile.svg' %}" class="imgOtherProfile_sw" alt="기본프로필사진">
                {% endif %}


                <div class="rightWrapperOtherProfile_sw">
                    <div class="textWRapperOtherProfile_sw">
                        <div class="nameTextOtherProfile_sw">
                            {{profile}}
                        </div>
                        <div class="tipTimeOtherProfile_sw">
                            {% if hours %}
                            {{hours}}시간
                            {% endif %}
                            {{minutes}}분
                        </div>
                    </div>
                    <div class="tipDescriptionOtherProfile_sw">
                        받은 팁
                        <img src="{% static 'images/information.svg' %}" alt="정보표시 아이콘" style="padding-top: 5px;">
                        후기가 좋을수록 팁을 많이 받습니다
                    </div>
                </div>

            </div>

        </div>
        <div class="bottomFrameOtherProfile_sw">
            <!-- 거래 요청 횟수 -->
            <div class="countFrameOtherProfile_sw">
                <div class="countWrapperOtherProfile_sw">
                    <div class="titleCountOtherProfile_sw">거래 요청 횟수</div>
                    <div class="countOtherProfile_sw">{{call_question_count}}번</div>
                </div>

            </div>
            <!-- 거래 완료 횟수 -->
            <div class="countFrameOtherProfile_sw">
                <div class="countWrapperOtherProfile_sw">
                    <div class="titleCountOtherProfile_sw">거래 완료 횟수</div>
                    <div class="countOtherProfile_sw">{{call_exclamation_count}}번</div>
                </div>
            </div>
            <!-- 모집 중인 거래 -->
            <div class="postsFrameOtherProfile_sw">
                <div class="postsTitleProfile_sw">모집 중인 거래</div>
                <div class="postsScrollOtherProfile">
                    {% for posts in waiting_posts %}
                    <a href="{% url 'posts:post_detail' posts.id %}?{{ request.GET.urlencode }}">
                        <div class="post-container_sy">
                            <div class="post-image_sy">
                                {% with posts.images.all|first as image %}
                                {% if image %}
                                <img src="{{ image.image.url }}" alt="post image">
                                {% else %}
                                <img src="{% static 'images/test2.png' %}" alt="기본 이미지">
                                {% endif %}
                                {% endwith %}
                            </div>
                            <div class="post-item_sy">
                                <h2 class="post-title_sy">{{ posts.title }}</h2>
                                <div class="post-first-info_sy">
                                    <div class="post-location_sy">
                                        {% if selected_building_name %}
                                        {{ selected_building_name }}
                                        {% else %}
                                        {{ posts.building.name }}
                                        {% endif %}
                                    </div>
                                    <div class="post-second-info-sy">
                                        <div class="post-time_sy">
                                            <svg class="{% if post.burning == 1 %}boosted-icon_sy{% endif %}" width="21"
                                                height="20" viewBox="0 0 21 20" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M10.5 0C9.18678 0 7.88642 0.258658 6.67317 0.761205C5.45991 1.26375 4.35752 2.00035 3.42893 2.92893C1.55357 4.8043 0.5 7.34784 0.5 10C0.5 12.6522 1.55357 15.1957 3.42893 17.0711C4.35752 17.9997 5.45991 18.7362 6.67317 19.2388C7.88642 19.7413 9.18678 20 10.5 20C13.1522 20 15.6957 18.9464 17.5711 17.0711C19.4464 15.1957 20.5 12.6522 20.5 10C20.5 8.68678 20.2413 7.38642 19.7388 6.17317C19.2362 4.95991 18.4997 3.85752 17.5711 2.92893C16.6425 2.00035 15.5401 1.26375 14.3268 0.761205C13.1136 0.258658 11.8132 0 10.5 0ZM14.7 14.2L9.5 11V5H11V10.2L15.5 12.9L14.7 14.2Z"
                                                    fill="#2A2A2A" />
                                            </svg>
                                            <p
                                                class="post-time-text_sy {% if post.burning == 1 %}boosted_time_sy{% endif %}">
                                                +{{ posts.amounts }}분
                                            </p>
                                        </div>
                                        <div class="post-deadline_sy">{{ posts.deadline|date:"m/d H:i" }}까지</div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <!--  -->

            <!--  -->
        </div>
    </div>

</div>


{% endblock %}
{% block scripts %}
<!-- js 파일 -->
<script src="{% static 'js/other_profile.js' %}"></script>
{% endblock %}