<!-- other_profile.html -->
{% extends 'test-base.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'css/other_profile.css' %}" />
<link rel="stylesheet" href="{% static 'css/reset.css' %}">

<div class="container_sw">

<div class="pageAlignChatlist_sw">
    <!-- 헤더 -->
    <div class="headerFrameChatlist_sw">
    <!-- 아직 메인 없음 -->
        <a href="{% url 'chats:chat_list' %}">
            <button class="backiconChatlist_sw">
                <img src="{% static 'images/backicon.svg' %}" alt="뒤로가기아이콘">
            </button>
        </a>
        <div class="headerTitleChatlist_sw">
            <div class="headerTextChatlist_sw">프로필</div>
        </div>
    </div>
  

{% endblock %}
{% block scripts %}
<!-- js 파일 -->
<script src="{% static 'js/other_profile.js' %}"></script>
{% endblock %}