{% extends 'test-base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/post_list.css' %}" />
<link rel="stylesheet" href="{% static 'css/reset.css' %}">

<body>
    <div class="post-list-container_sy">
        <div class="post-list-header_sy">

            <div class="post-list-first-header_sy">
                <div class="go-back-btn_sy">
                    <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M0.29277 5.79301L5.94977 0.136013L7.36377 1.55001L2.41377 6.50001L7.36377 11.45L5.94977 12.864L0.29277 7.20701C0.105299 7.01949 -1.66893e-05 6.76518 -1.66893e-05 6.50001C-1.66893e-05 6.23485 0.105299 5.98054 0.29277 5.79301Z"
                            fill="white" />
                    </svg>
                </div>
                <h1 class="post-list-title_sy">거래 목록</h1>
            </div>

            <div class="post-list-second-header_sy">

                <div class="post-list-btn_sy">
                    <div class="friend-boost-btn_sy">
                        <button id="friendOnlyBtn" class="{% if friend_only_flag == '1' %}selected_sy{% endif %}">친구만</button>
                    </div>
                    <div class="time-boost-btn_sy">
                        <button class="{% if burning_flag == '1' %}selected_sy{% endif %}">1.5배</button>
                    </div>
                </div>

                <div class="post-list-navbar_sy">
                    <div class="dropdown_sy">
                        <div id="selectedBuilding_sy" class="dropdown-button_sy" onclick="toggleDropdown()">
                            {% if selected_building_name %}
                                {{ selected_building_name }}
                            {% else %}
                                {{ request.user.profile.university.name }}
                            {% endif %}
                            <svg width="13" height="8" viewBox="0 0 13 8" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M5.65703 7.38911L2.67029e-05 1.73212L1.41403 0.318115L6.36403 5.26812L11.314 0.318115L12.728 1.73212L7.07103 7.38911C6.8835 7.57659 6.62919 7.6819 6.36403 7.6819C6.09886 7.6819 5.84455 7.57659 5.65703 7.38911Z"
                                    fill="black" />
                            </svg>
                        </div>
                        <div id="buildingDropdown_sy" class="dropdown-content_sy">
                            <div onclick="selectBuilding('all', '{{ user_profile.university.name }}')">{{ user_profile.university.name }}전체</div>
                            {% for b in buildings %}
                            <div onclick="selectBuilding('{{ b.id }}', '{{ b.name }}')">{{ b.name }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="list-category_sy">
                        <a href="?sort=latest{% if selected_building_id %}&building_id={{ selected_building_id }}{% endif %}" class="latest-category_sy {% if selected_sort == 'latest' %}active{% endif %}">최신순</a>
                        <div class="category-line_sy"></div>
                        <a href="?sort=deadline{% if selected_building_id %}&building_id={{ selected_building_id }}{% endif %}" class="deadline-category_sy {% if selected_sort == 'deadline' %}active{% endif %}">마감임박순</a>
                        <div class="category-line_sy"></div>
                        <a href="?sort=amounts{% if selected_building_id %}&building_id={{ selected_building_id }}{% endif %}" class="transaction-category_sy {% if selected_sort == 'amounts' %}active{% endif %}">거래시간순</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-list_sy">
            {% for post in posts %}
            <a href="{% url 'posts:post_detail' post.id %}?{{ request.GET.urlencode }}">
                <div class="post-container_sy">
                    <div class="post-image_sy">
                        {% with post.images.all|first as image %}
                            {% if image %}
                                <img src="{{ image.image.url }}" alt="post image">
                            {% else %}
                                <img src="{% static 'images/test2.png' %}" alt="기본 이미지">
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="post-item_sy">
                        <h2 class="post-title_sy">{{ post.title }}</h2>
                        <div class="post-first-info_sy">
                            <div class="post-location_sy">
                                {% if selected_building_name %}
                                    {{ selected_building_name }}
                                {% else %}
                                    {{ post.building.name }}
                                {% endif %}
                            </div>
                            <div class="post-second-info-sy">
                                <div class="post-time_sy">
                                    <svg class="{% if post.burning == 1 %}boosted-icon_sy{% endif %}" width="21" height="20" viewBox="0 0 21 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M10.5 0C9.18678 0 7.88642 0.258658 6.67317 0.761205C5.45991 1.26375 4.35752 2.00035 3.42893 2.92893C1.55357 4.8043 0.5 7.34784 0.5 10C0.5 12.6522 1.55357 15.1957 3.42893 17.0711C4.35752 17.9997 5.45991 18.7362 6.67317 19.2388C7.88642 19.7413 9.18678 20 10.5 20C13.1522 20 15.6957 18.9464 17.5711 17.0711C19.4464 15.1957 20.5 12.6522 20.5 10C20.5 8.68678 20.2413 7.38642 19.7388 6.17317C19.2362 4.95991 18.4997 3.85752 17.5711 2.92893C16.6425 2.00035 15.5401 1.26375 14.3268 0.761205C13.1136 0.258658 11.8132 0 10.5 0ZM14.7 14.2L9.5 11V5H11V10.2L15.5 12.9L14.7 14.2Z"
                                            fill="#2A2A2A" />
                                    </svg>
                                    <p class="post-time-text_sy {% if post.burning == 1 %}boosted_time_sy{% endif %}">
                                        +{{ post.amounts }}분
                                    </p>
                                </div>
                                <div class="post-deadline_sy">{{ post.deadline|date:"m/d H:i" }}까지</div>

                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</body>

{% endblock %}
{% block scripts %}
<script src="{% static '/js/post_list.js' %}"></script>

{% endblock %}